.show { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 3rem ;
    margin-left: 100px;
}
.searchList{
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 3rem ;
    margin-top: 50px;
    margin-left: 100px;
}
.favoriteMenu{
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 3rem ;
    margin-top: 50px;
    margin-left: 100px;
}
.navbar-brand{
    color:#d2aa5a;
    font-weight: 500;
}
.nav-item{
    color: white;
}
.nav-item:hover{
    color: 	#d2aa5a;
}
.banner{
  background-image: url('banner.jpg');
  background-repeat: repeat-x;
}
.btn{
    color: white ;
    background-color: #d2aa5a;
}
a{
    text-decoration: none;
    color: 	#d2aa5a;
}
a:hover{
    color: white;
}
.fab{
    color: 	#d2aa5a;
    padding: 10px;
}
.btn-1{
    color: white ;
    background-color: #d2aa5a;
    border-radius: 5px;
    margin-right: 20px;
}
.dropdown-item:hover{
    color: white ;
    background-color: #d2aa5a;
}
.btn-danger{
    color: white;
    background-color:#dc3545;
    margin-left: 30px;
}
.btn-primary{
    color: white;
    background-color: #0d6efd;
   
}
.tab{
   font-weight: 500;
    font-size: 25px;
    padding: 30px;
}

.nav-link-tab{
    color:  grey;
    padding-left: 12px;
}

.nav-link-tab:hover{
    color: #d2aa5a;
}
hr.style1{
	border-top: 3px solid #8c8b8b;
}
.credit{
    font-size: small;
    color: white;
}
.profile{
    margin-right: 15px;
}